:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #ffeef6;
  --bg-color-accent: #ff8dcb;
  --color-text-main: #353430;
  --color-text-secondary: #353430;
  --color-accent: #353430;
  --color-title: #ffc2e6;
  --color-title-accent: #ff8dcb;
  --color-link-main: #353430;
  --color-link-accent: #ff8dcb;
  --color-button: #353430;
  --color-decor-element: #353430;
}

.theme-light .decorated-zone-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #ffeef6;
    --bg-color-accent: #ff8dcb;
    --color-text-main: #353430;
    --color-text-secondary: #353430;
    --color-accent: #353430;
    --color-title: #ffc2e6;
    --color-title-accent: #ff8dcb;
    --color-link-main: #353430;
    --color-link-accent: #ff8dcb;
    --color-button: #353430;
    --color-decor-element: #353430;
  }

  .decorated-zone-element {
    display: none;
  }
}
