.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100dvh;
  min-height: 668px;
  padding: var(--spacing-s);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--spacing-s);
  right: var(--spacing-s);
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

.decorated-zone::after {
  bottom: var(--spacing-s);
  left: var(--spacing-s);
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
}

.decorated-zone-element {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-m);
  z-index: 1;
  display: inline-block;
  align-items: center;
  gap: 8px;
  color: var(--color-accent);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  line-height: 1.5625;
  text-transform: uppercase;
}

.decorated-zone-element::after {
  content: "";
  display: inline-block;
  width: var(--spacing-s);
  height: var(--spacing-s);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-accent);
  background-color: var(--color-accent);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--spacing-s);
}

.header__theme-menu-button {
  border: none;
  padding: 4px 14px;
  color: var(--color-accent);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--color-accent) 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-underline-offset: 2px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-accent);
  pointer-events: none;
}

.header__title {
  justify-self: start;
  align-self: start;
}

.title-neon {
  color: var(--color-title);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--color-accent);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  width: clamp(22.1875rem, 21.8625rem + 1.3867vw, 22.75rem);
}

.title-decor {
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 1.3;
  background-color: var(--bg-color-accent);
}

/* MAIN */

.main {
  display: grid;
  gap: 50px;
  padding: 40px var(--spacing-s) 40px var(--spacing-s);
}

.container {
  display: grid;
}

.container__title {
  padding-bottom: var(--spacing-m);
  color: var(--color-accent);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  line-height: 1.3;
}

.container__card + .container__card {
  padding-top: var(--spacing-m);
}

.container__card-text {
  padding-top: var(--spacing-s);
  color: var(--color-main);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  line-height: 1.3;
}

.container__card-link {
  font-family: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-accent);
  cursor: pointer;
}

.container__card-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  text-underline-offset: 2px;
}

.container__card-link:focus {
  outline: none;
}

.container__card-link:focus-visible {
  outline: 1px solid var(--color-accent);
  outline-offset: 2px;
}

.title-margin-bottom {
  margin-top: var(--spacing-m);
}

.title-decor-normal {
  font-weight: var(--font-weight-regular);
}

.container__img {
  display: grid;
  gap: var(--spacing-s);
}

.container__img-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

/* FOOTER*/

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--color-accent);
}

.footer.decorated-zone::before {
  top: var(--spacing-s);
  right: var(--spacing-s);
}

.footer.decorated-zone::after {
  bottom: var(--spacing-s);
  left: var(--spacing-s);
}

/* WIDTH 768px */

/* HEADER */

@media (width >= 768px) {
  .header {
    height: 100vh;
    min-height: 1024px;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) 0px;
  }

  .title-neon {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    top: var(--spacing-m);
    right: var(--spacing-m);
  }

  .decorated-zone::after {
    bottom: var(--spacing-m);
    left: var(--spacing-m);
  }

  .decorated-zone-element {
    top: var(--spacing-m);
    right: 30px;
  }

  .header__subtitle {
    width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }

  /* MAIN */

  .main {
    gap: 80px;
    padding: 60px var(--spacing-m);
  }

  .container {
    grid-template-columns: max(256px) auto;
  }

  .container__title {
    padding-right: var(--spacing-m);
  }

  .card-concentration {
    grid-column: span 2;
  }

  .container__img {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
  }

  .title-img {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .image-sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .image-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .image-book {
    grid-column: 2;
    grid-row: 3;
  }

  .image-street {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  /* FOOTER */

  .footer {
    height: 100vh;
    min-height: 1024px;
  }

  .footer.decorated-zone::before {
    top: var(--spacing-m);
    right: var(--spacing-m);
  }

  .footer.decorated-zone::after {
    bottom: var(--spacing-m);
    left: var(--spacing-m);
  }
}

/* WIDTH 1024px */

/* HEADER */

@media (width >= 1024px) {
  .header {
    height: 100vh;
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-left: var(--spacing-m);
  }

  .header__theme-menu-list {
    display: flex;
    gap: var(--spacing-s);
  }

  /* MAIN */

  .container {
    grid-template-columns: max(335px) auto;
  }

  .card-concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
  }

  .card-concentration .container__card + .container__card {
    padding-top: 0;
  }

  .container__img {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m);
  }

  /* FOOTER */

  .footer {
    height: 100vh;
    min-height: 768px;
  }
}